<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="engine1/jquery.js"></script>
  <script src="js/home.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<body>



<!-- <div id="move_pictures">
<div class="w3-content w3-display-container" style="max-width:800px; padding-top: 0%; margin-left: 15%;">
  <%= image_tag("blue.png", :class => "mySlides") %>
  <%= image_tag("pink.png", :class => "mySlides") %>
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div style = "margin-top: -30%; margin-left: 4%; color: black;" class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div style = "margin-top: -30%; margin-right: 5%; color: black;" class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
  </div>
</div>
</div> -->

<script>
var slideIndex = 1;
showDivs(slideIndex);
function plusDivs(n) {
  showDivs(slideIndex += n);
}
function currentDiv(n) {
  showDivs(slideIndex = n);
}
function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

<script src="/assets/jquery.self-bd7ddd393353a8d2480a622e80342adf488fb6006d667e8b42e4c0073393abee.js?body=1" data-turbolinks-track="reload"></script>

<%= image_tag("dummy1.jpg", :class => "pic") %>

<%= image_tag("adjectives", :id => "logo") %>

<div id="meet_the_coven"></div>
<%= image_tag("about_us_main.png", :id => "brooklyn") %>
</div>

<p id="inspiration">INSPIRATION @SHOPGREENWITCH</p>

<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe id="move_instagram" src="https://snapwidget.com/embed/467519" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>


<!-- <h1 id="cottage">COTTAGE OPENS IN</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>
</div>


<script>
function getTimeRemaining(endtime){
  var t = Date.parse(endtime) - Date.now();
  var seconds = Math.floor( (t/1000) % 60 );
  var minutes = Math.floor( (t/1000/60) % 60 );
  var hours = Math.floor( (t/(1000*60*60)) % 24 );
  var days = Math.floor( t/(1000*60*60*24) );
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}
function initializeClock(id, endtime){
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');
  function updateClock(){
    var t = getTimeRemaining(endtime);
    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
    if(t.total<=0){
      clearInterval(timeinterval);
    }
  }
  updateClock();
  var timeinterval = setInterval(updateClock,1000);
}
var deadline = new Date(Date.now() + 15*24*60*60*1000);
var deadline = 'December 1 2017 00:00:50 UTC+0200';
initializeClock('clockdiv', deadline);
</script>
 -->

  </body>



<p id="bottom">&#169; Green Witch. All Rights Reserved | <%= link_to "Terms & Conditions", shop_index_url, :id => "terms" %>&nbsp;|&nbsp;<a style="color:black;" href="private.html">Privacy & Security</a>&nbsp;|&nbsp;<%= link_to "Contact", contact_index_url, :id => "terms" %>

<div class="move_icons">
<%= image_tag("spotify.png", :class => "icon") %>
<%= image_tag("twitter.png", :class => "icon") %>
<%= image_tag("instagram.png", :class => "icon") %>
<%= image_tag("facebook.png", :class => "icon") %>
</div>


