<p id="promotions_title">PROMOTIONS</p>


<div id="move_both">
<div id="move_referral">
<script src="https://conjured.co/shopify/referral/widget.js?shop=dumbo-labs.myshopify.com&cmp=346"></script><div id="conjured_referral"></div>
</div>

<div id="move_form">
<script src="https://conjured.co/shopify/referral/widget-redeem.js?shop=dumbo-labs.myshopify.com&r=vjkojdaxooaeg382bktomsbemh9mgi8ghaqcxha7&i=346"></script>
<div id="conjured_redemption">
</div>
</div>
</div>
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:all; font:14px Helvetica,Arial,sans-serif; margin-left: -2%; }
</style>
<div id="mc_embed_signup">
<form action="https://shopgreenwitch.us17.list-manage.com/subscribe/post?u=7389b87141ed1f69e7e763169&amp;id=c0e6bad048" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div style="margin-top: 50%;" id="mc_embed_signup_scroll">
  <h2 style="font-family: 'avenir next'; font-weight: 500; border-top: 2px solid #ddd9c5; padding-top: 3%;">Subscribe to Our Mailing List</h2>
<div style="float:left;" class="indicates-required"><span class="asterisk">*</span> indicates required</div><br><br>
<div class="mc-field-group">
  <label style="font-family: 'avenir next'; margin-top: -1%;" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label><br>
  <input style="width: 20%; margin-top: -2%;"  type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>  -->   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px; margin-top: -2%;" aria-hidden="true"><input type="text" name="b_7389b87141ed1f69e7e763169_c0e6bad048" tabindex="-1" value=""></div><br>
    <div class="clear"><input style="margin-top: -3%; background-color: #67bdb3;"" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</div>
</div>

<%= link_to "Click Here For Promotions!", promotions_index_url, :class => "butt" %>

<div id="move_icons">
<%= image_tag("spotify.png", :class => "icon") %>
<%= image_tag("twitter.png", :class => "icon") %>
<%= image_tag("instagram.png", :class => "icon") %>
<%= image_tag("facebook.png", :class => "icon") %>
</div>

<p id="bottom">&#169; Green Witch. All Rights Reserved | <a style="color:black;" href="terms.html">Terms & Conditions</a>&nbsp;|&nbsp;<a style="color:black;" href="private.html">Privacy & Security</a></p>

