<!DOCTYPE html>
<html>
  <head>
    <title>Shopgreenwitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



<style>
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>


<div style="margin-top: -1.5%;" id="logo_background";>

<div class="slider" id="main-slider"><!-- outermost container element -->
  <div class="slider-wrapper" style="margin-bottom: 3%;">
  <%= image_tag("center_logo_again.png", :id => "center_logo") %>
  <p style="font-family: 'avenir next', sans-serif; text-align: center; font-size: 18px;"></p>
  <p><a id="account" href="https://green-witch.myshopify.com/account" style="float: right;  margin-right: 3%; font-family: 'avenir next';"/a></p>
  <!-- innermost wrapper element -->
  <!--   <p alt="First" class="slide"><b>100% USA GROWN ORGANIC HEMP!</b></p>slides
    <p alt="Second" class="slide"><b>FREE SHIPPING On Purchases Over $100!</b></p> -->
  </div>
</div>  
<%=  link_to (image_tag("title_again", :class => "logo")), home_url %>
<%= image_tag("label.jpg", :id => "label") %>

      <ul style="margin-left: 0px; margin-top: -94px;" id="menu">
      <li><a <%= link_to "Coven", philosophy_url %></a></li>
      <li>
        <a <%= link_to "Get Educated", faq_url %></a>
        <ul class="hidden">
          <li><a <%= link_to "Ingredients", ingredients_url %></a></li>
          <li><a <%= link_to "Hemp Dictionary", hemp_dictionary_url %></a></li>
          <li><a <%= link_to "Recipes", recipes_url %></a></li>
          <li><a <%= link_to "FAQ", faq_url %></a></li>
          <li><a <%= link_to "Contact", contact_url %></a></li>
        </ul>
      </li>
      <li>
        <a <%= link_to "Shop", shop_url%></a>
        <ul class="hidden2">
        <li><a <%= link_to "Our Products", shop_url %></a></li>
          <li><a <%= link_to "Where to Buy", locations_url %></a></li>
        </ul>
      </li>
    </div>
</div>

</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>
</body>

<div id="move_subscribe" style="clear: left; margin-top: 10%;">
<p id="enter_subscribe">Enter Your Email And Subscribe to Our Coven Secrets!</p>
  <%= form_tag '/subscribe_email', :id => "move_form", method: :post do %>
    <%= email_field_tag 'email' %>
    <%= submit_tag "Subscribe", :id => "subscribe_button" %>
  <% end %>
</div>

<div id="bottom">
<p id="bottom">&#169; Green Witch. All Rights Reserved | <%= link_to "Terms & Conditions", terms_and_conditions_url, :id => "term" %>&nbsp;|&nbsp;<a style="color:black;" <%= link_to "Privacy Policy", privacy_policy_url, :id => "term" %></a>&nbsp;|&nbsp;<%= link_to "Contact", contact_url, :id => "terms" %>

<div class="move_icons">
<%= link_to(image_tag("instagram.png"), "http://instagram.com/shopgreenwitch", :class => "icon") %>
<%= link_to(image_tag("facebook.png"), "http://facebook.com/shopgreenwitch", :class => "icon") %>
<%= link_to(image_tag("twitter.png"), "http://twitter.com/shopgreenwitch", :class => "icon") %>
<%= link_to(image_tag("spotify.png"), "https://open.spotify.com/user/o1yiv0jal852jm8vxvd9jkdw0/playlist/4WQAOU8AZQv3XVgbGGf4jZ", :class => "icon") %>
</div>
</p>
</div>



</html>
