<!DOCTYPE html>
<html>
  <head>
    <title>Shopgreenwitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<script>

(function() {
  
  function Slideshow( element ) {
    this.el = document.querySelector( element );
    this.init();
  }
  
  Slideshow.prototype = {
    init: function() {
      this.wrapper = this.el.querySelector( ".slider-wrapper" );
      this.slides = this.el.querySelectorAll( ".slide" );
      this.previous = this.el.querySelector( ".slider-previous" );
      this.next = this.el.querySelector( ".slider-next" );
      this.index = 0;
      this.total = this.slides.length;
      this.timer = null;
      
      this.action();
      this.stopStart(); 
    },
    _slideTo: function( slide ) {
      var currentSlide = this.slides[slide];
      currentSlide.style.opacity = 1;
      
      for( var i = 0; i < this.slides.length; i++ ) {
        var slide = this.slides[i];
        if( slide !== currentSlide ) {
          slide.style.opacity = 0;
        }
      }
    },
    action: function() {
      var self = this;
      self.timer = setInterval(function() {
        self.index++;
        if( self.index == self.slides.length ) {
          self.index = 0;
        }
        self._slideTo( self.index );
        
      }, 9000);
    },
    stopStart: function() {
      var self = this;
      self.el.addEventListener( "mouseover", function() {
        clearInterval( self.timer );
        self.timer = null;
        
      }, false);
      self.el.addEventListener( "mouseout", function() {
        self.action();
        
      }, false);
    }
    
    
  };
  
  document.addEventListener( "DOMContentLoaded", function() {
    
    var slider = new Slideshow( "#main-slider" );
    
  });
  
  
})();


</script>


<div style="margin-top: -1.5%;" id="logo_background";>

<div class="slider" id="main-slider"><!-- outermost container element -->
  <div class="slider-wrapper" style="margin-bottom: 3%;">
  <%= image_tag("center_logo_again.png", :id => "center_logo") %>
  <p style="font-family: 'avenir next', sans-serif; text-align: center; font-size: 18px;"></p>
  <p><a id="account" href="https://green-witch.myshopify.com/account" style="float: right;  margin-right: 3%; font-family: 'avenir next';"/a></p>
  <!-- innermost wrapper element -->
  <!--   <p alt="First" class="slide"><b>100% USA GROWN ORGANIC HEMP!</b></p>slides
    <p alt="Second" class="slide"><b>FREE SHIPPING On Purchases Over $100!</b></p> -->
  </div>
</div>  
<%=  link_to (image_tag("title_again", :class => "logo")), home_url %>
<%= image_tag("label.jpg", :id => "label") %>
    <input type="checkbox" id="show-menu" role="button">
      <ul style="margin-left: 0px; margin-top: -94px;" id="menu">
      <li><a <%= link_to "Coven", philosophy_url %></a></li>
      <li>
        <a <%= link_to "Get Educated", faq_url %></a>
        <ul class="hidden">
          <li><a <%= link_to "Ingredients", ingredients_url %></a></li>
          <li><a <%= link_to "Hemp Dictionary", hemp_dictionary_url %></a></li>
          <li><a <%= link_to "Recipes", recipes_url %></a></li>
          <li><a <%= link_to "FAQ", faq_url %></a></li>
          <li><a <%= link_to "Contact", contact_url %></a></li>
        </ul>
      </li>
      <li>
        <a <%= link_to "Shop", shop_url%></a>
        <ul class="hidden2">
        <li><a <%= link_to "Our Products", shop_url %></a></li>
          <li><a <%= link_to "Where to Buy", locations_url %></a></li>
        </ul>
      </li>
    </div>
</div>

<style>


body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.2s;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.05s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    top: 0;
     width: 50%;
    right: 25px;
    font-size: 36px;
    margin-left: 180px;
}
.dropbtn {
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: white;}

.show {display:block;}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;
    padding-left: 8px;
    font-size: 12px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

button:hover {
  color: #67bdb3;
}

.tab {
  font-size: 12px;
}

#coven_link:hover {
  color: #67bdb3;
}

hr {
  display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #67bdb3;
    margin: 1em 0;
    padding: 0; 
}

}

#span {
   width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    display: block;
    cursor: pointer;
}

#hamburger {
  margin-left: 20px;
  margin-top: -40px;
  float: left;
  position: absolute;
}

@media screen and (max-width : 414px){

  #enter_subscribe {
  font-size: 16px;
  font-family: 'avenir next', sans-serif;
  color: #67bdb3;
  font-weight: 600;
}

}


</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><hr>
  <a style="font-size: 20px; font-family: 'avenir next', sans-serif; " <%= link_to "HOME", home_url, :id => "coven_link" %></a><hr>
  <a style="font-size: 20px; font-family: 'avenir next', sans-serif; " <%= link_to "COVEN", philosophy_url, :id => "coven_link" %></a><hr>
     <button style="font-size: 20px; background-color: white; cursor: pointer; border-style: none; margin-left: 12px; font-family: 'avenir next', sans-serif; " class="dropdown-btn">GET EDUCATED 
  </button>
  <div class="dropdown-container"><hr>
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;"<%= link_to "INGREDIENTS", ingredients_url, :class => "tab" %></a>
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;" <%= link_to "HEMP DICTIONARY", hemp_dictionary_url, :class => "tab"%></a>
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;" <%= link_to "RECIPES", recipes_url, :class => "tab"%></a>
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;" <%= link_to "FAQ", faq_url, :class => "tab"%></a>
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;" <%= link_to "CONTACT", contact_url, :class => "tab"%></a>
  </div><hr>
   <button style="font-size: 20px; background-color: white; cursor: pointer; border-style: none; margin-top: 7px; font-family: 'avenir next', sans-serif; margin-left: 12px; " class="dropdown-btn">SHOP
  </button>
  <div class="dropdown-container">
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;"<%= link_to "OUR PRODUCTS", shop_url, :class => "tab" %></a>
    <a style="font-size: 15px; font-family: 'Montserrat', sans-serif;" <%= link_to "WHERE TO FIND US", locations_url, :class => "tab"%></a>
  </div><hr>
</div>
</a>
</a>
</div>
</a>
</a>
</a>
</a>
</a>
</div>
</a>
</a>
</div>
</div>



<div id="hamburger">
  <span id="span" onclick="openNav()">
  </span>
  <span id="span" onclick="openNav()">
  </span>
  <span id="span" onclick="openNav()">
  </span>
</div>


<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>


</div>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <%= yield %>
</body>

<div id="move_subscribe">
<p id="enter_subscribe">Enter Your Email And Subscribe to Our Coven Secrets!</p>
  <%= form_tag '/subscribe_email', :id => "move_form", method: :post do %>
    <%= email_field_tag 'email' %>
    <%= submit_tag "Subscribe", :id => "subscribe_button" %>
  <% end %>
</div>

<div id="bottom">
<p id="bottom">&#169; Green Witch. All Rights Reserved | <%= link_to "Terms & Conditions", terms_and_conditions_url, :id => "term" %>&nbsp;|&nbsp;<a style="color:black;" <%= link_to "Privacy Policy", privacy_policy_url, :id => "term" %></a>&nbsp;|&nbsp;<%= link_to "Contact", contact_url, :id => "terms" %>

<div class="move_icons">
<%= link_to(image_tag("instagram.png"), "http://instagram.com/shopgreenwitch", :class => "icon") %>
<%= link_to(image_tag("facebook.png"), "http://facebook.com/shopgreenwitch", :class => "icon") %>
<%= link_to(image_tag("twitter.png"), "http://twitter.com/shopgreenwitch", :class => "icon") %>
<%= link_to(image_tag("spotify.png"), "https://open.spotify.com/user/o1yiv0jal852jm8vxvd9jkdw0/playlist/4WQAOU8AZQv3XVgbGGf4jZ", :class => "icon") %>
</div>
</p>
</div>



</html>
