<!DOCTYPE html>
<html>
  <head>
    <title>Shopgreenwitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	
<div id="bar">
 <p class="item-1">Our CBD Gummies Are Amazing!</p>

<p class="item-2">Free Shipping On Purchases Over $100!</p>

<p class="item-3">Check Out Discounts For College Students!</p>
</div>


<div id="logo_background">
<p><a id="account" href="https://dumbo-labs.myshopify.com/account/login?checkout_url=https%3A%2F%2Fcheckout.shopify.com%2F22982071%2Fcheckouts%2F6a7b19e47616d4c3a07bc6e6a1add724%3F_fd%3D0%26access_token%3D7bbfb0c9aad260f77bef4c1e51319294%26sid%3D7470454fc29bea15e8ee5fd893fd3e99" style="float: right; margin-right: 3%; text-decoration: none; font-family: 'avenir next';">My Account</a></p>
<%=  link_to (image_tag("green_witch.jpg", :class => "logo")), home_index_url %>
<div id="move_nav_bar">	
	<p class="meet_the_coven_nav">Meet The Coven</p>
   <%= link_to "Shop", shop_index_url, :class => "nav" %>
   <%= link_to "FAQ", faq_index_url, :class => "nav" %>
   <%= link_to "Contact", contact_index_url, :class => "nav" %>
</div>
</div>


    <%= yield %>
  </body>
</html>
