<!DOCTYPE html>
<html>
  <head>
    <title>Shopgreenwitch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<script>

(function() {
  
  function Slideshow( element ) {
    this.el = document.querySelector( element );
    this.init();
  }
  
  Slideshow.prototype = {
    init: function() {
      this.wrapper = this.el.querySelector( ".slider-wrapper" );
      this.slides = this.el.querySelectorAll( ".slide" );
      this.previous = this.el.querySelector( ".slider-previous" );
      this.next = this.el.querySelector( ".slider-next" );
      this.index = 0;
      this.total = this.slides.length;
      this.timer = null;
      
      this.action();
      this.stopStart(); 
    },
    _slideTo: function( slide ) {
      var currentSlide = this.slides[slide];
      currentSlide.style.opacity = 1;
      
      for( var i = 0; i < this.slides.length; i++ ) {
        var slide = this.slides[i];
        if( slide !== currentSlide ) {
          slide.style.opacity = 0;
        }
      }
    },
    action: function() {
      var self = this;
      self.timer = setInterval(function() {
        self.index++;
        if( self.index == self.slides.length ) {
          self.index = 0;
        }
        self._slideTo( self.index );
        
      }, 9000);
    },
    stopStart: function() {
      var self = this;
      self.el.addEventListener( "mouseover", function() {
        clearInterval( self.timer );
        self.timer = null;
        
      }, false);
      self.el.addEventListener( "mouseout", function() {
        self.action();
        
      }, false);
    }
    
    
  };
  
  document.addEventListener( "DOMContentLoaded", function() {
    
    var slider = new Slideshow( "#main-slider" );
    
  });
  
  
})();


</script>

<div style="margin-top: 0%;" id="logo_background">
<div class="slider" id="main-slider"><!-- outermost container element -->
  <div class="slider-wrapper"><!-- innermost wrapper element -->
    <p alt="First" class="slide">Our CBD Gummies Are Amazing!</p><!-- slides -->
    <p alt="Second" class="slide">Free Shipping On Purchases Over $100!</p>
    <p alt="Third" class="slide">Check Out Discounts For College Students!</p>
  </div>
</div>  
<p><a id="account" href="https://dumbo-labs.myshopify.com/account/login?checkout_url=https%3A%2F%2Fcheckout.shopify.com%2F22982071%2Fcheckouts%2F6a7b19e47616d4c3a07bc6e6a1add724%3F_fd%3D0%26access_token%3D7bbfb0c9aad260f77bef4c1e51319294%26sid%3D7470454fc29bea15e8ee5fd893fd3e99" style="float: right; margin-right: 3%; margin-top: 2%; font-family: 'avenir next';">My Account</a></p>
<%=  link_to (image_tag("title_again", :class => "logo")), home_index_url %>
<label style="cursor: pointer; margin-left: 0%; height: 40px; margin-top: 25px; background-height: 5px; padding-left: 10px;" for="show-menu" class="show-menu"><div style="margin-top: -100px;" class="contain_line"><div class="line"></div>
<div class="line"></div>
<div class="line"></div></div></label>
    <input type="checkbox" id="show-menu" role="button">
        <ul style="margin-left: 0px; margin-top: -94px;" id="menu">
        <li><a <%= link_to "Coven", home_index_url(:anchor => "meet_the_coven") %></a></li>
        <li>
            <a <%= link_to "Get Educated", contact_index_url %></a>
            <ul class="hidden">
             <li><a <%= link_to "FAQ", faq_index_url %></a></li>
                <li><a <%= link_to "Hemp Dictionary", hemp_dictionary_index_url %></a></li>
                <li><a <%= link_to "Recipes", recipes_index_url %></a></li>
                <li><a <%= link_to "Resources", recipes_index_url %></a></li>
            </ul>
        </li>
       <li>
            <a <%= link_to "Shop", contact_index_url %></a>
            <ul class="hidden2">
               <li><a <%= link_to "Where to Buy", locations_index_url %></a></li>
            </ul>
        </li>
    

    </div>

</div>
</div>




    <%= yield %>
  </body>
</html>
